@font-face {
    font-family: 'Bellota-Light';
    src: url('../fonts/Bellota-Light.otf');
}

@font-face {
    font-family: 'Bellota-Bold';
    src: url('../fonts/Bellota-Bold.otf');
}

html, body{
    height: 100%;
    min-height: 100%;
}

form {
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #ff8000;
}

.wrapper {
    background-image: url("../images/backgrounds/desktop.jpg");
    background-size: 100%; 
    width: 100%;
    height: 100%;
    min-width: 950px;

}

.login_box{
    font-family: 'Bellota-Light', sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 18%;
    width: 35%;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.9;

}

.login_header{
    font-family: 'Bellota-Light', sans-serif;
    width: 100%;
    height: 82px;
    text-align: center;
    background-color:#ffcc99;
    border-radius: 3px;
    margin-bottom: 10px;
}

.login_header h1{
    font-family: 'Bellota-Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    text-shadow: black 0.5px 0.5px 6.5px;
    font-size: 250%;   
}



input[type="submit"]{
    font-family: 'Bellota-Bold', sans-serif;
    background-color: #ffcc99;
    border: 1px solid #ffcc99;
    border-radius: 3px;
    margin: 5px 0 10px 0;
    padding: 5px 10px 5px 10px;
    color: black;
    text-shadow:orange 0.5px 0.5px 0px;
    font-family: 'Bellota-Bold', sans-serif;
    font-size: 100%;
}


input[type="text"], input[type="email"], input[type="password"]{
    border: 2px solid #ffcc99;
    margin-top: 5px;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
 

}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover{
    border-color: #ff8000;
}

#second {
    display: none;
}