@font-face {
    font-family: 'Bellota-Light';
    src: url('../fonts/Bellota-Light.otf');
}

@font-face {
    font-family: 'Bellota-Bold';
    src: url('../fonts/Bellota-Bold.otf');
}

body{
    line-height: 14px;
    background-color: #ededed;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #ffcc99;
    border-bottom: 0.25em solid orange;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
    font-family: 'Bellota-Bold', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    color: black;
    top: 9px;
    
}

a:hover {
    text-decoration: none;

}

.top_bar a:hover {
    text-decoration: none;
    color: black;
    text-shadow: #ff8000 0.5px 0.5px 1px;
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    font-family: 'Bellota-Bold', sans-serif;
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 5px solid orange;
    color: black;
    text-shadow: #ff8000 0.5px 0.5px 6.5px;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.user_details_left_right a{
    text-decoration: none;
    color: black;
}

.user_details_left_right a:hover{
    color: black;
    text-shadow: lightslategray 0.5px 0.5px 5.5px;
}


.column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

.user_details {
    width: 300px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 200px;
    display: inline-block;
    position: absolute;
    
}

.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 10px;
    
}

.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post_form{
    width: 103%;
}

.post_form textarea {
    width: 80%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #D3D3D3; 
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc99;
    font-family: 'Bellota-Bold', sans-serif;
    color: black;
    text-shadow: #ff8000 0.5px 0.5px 0px;
    font-size: 15px;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}